@page
@model GuitarWorkshopUI.Pages.Constructor.GuitarBuilderModel
@{
    ViewData["Title"] = "Guitar Builder";
}

<h1>Guitar Builder</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="GuitarBuild.BodyShape">Body Shape:</label>
        <select asp-for="GuitarBuild.BodyShape.ShapeId" asp-items="Model.BodyShapeOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.BodyShape" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GuitarBuild.BottomDeckMaterial">Bottom Deck Material:</label>
        <select asp-for="GuitarBuild.BottomDeckMaterial.TypeId" asp-items="Model.BottomDeckMaterialOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.BottomDeckMaterial" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GuitarBuild.Color">Color:</label>
        <select asp-for="GuitarBuild.Color.ColorId" asp-items="Model.ColorOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.Color" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GuitarBuild.FingerboardMaterial">Fingerboard Material:</label>
        <select asp-for="GuitarBuild.FingerboardMaterial.TypeId" asp-items="Model.FingerboardMaterialOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.FingerboardMaterial" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="GuitarBuild.Finish">Finish:</label>
        <select asp-for="GuitarBuild.Finish.FinishId" asp-items="Model.FinishOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.Finish" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="GuitarBuild.FretNubmberType">Fret Number Type:</label>
        <select asp-for="GuitarBuild.FretNubmberType.TypeId" asp-items="Model.FretNubmberTypeOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.FretNubmberType" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="GuitarBuild.HeadstockStyle">Headstock Style:</label>
        <select asp-for="GuitarBuild.HeadstockStyle.StyleId" asp-items="Model.HeadstockStyleOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.HeadstockStyle" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="GuitarBuild.NeckMaterial">Neck Material:</label>
        <select asp-for="GuitarBuild.NeckMaterial.TypeId" asp-items="Model.NeckMaterialOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.NeckMaterial" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="GuitarBuild.NeckScale">Neck Scale:</label>
        <select asp-for="GuitarBuild.NeckScale.ScaleId" asp-items="Model.NeckScaleOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.NeckScale" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="GuitarBuild.NeckShape">Neck Shape:</label>
        <select asp-for="GuitarBuild.NeckShape.ShapeId" asp-items="Model.NeckShapeOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.NeckShape" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="GuitarBuild.String">String Type:</label>
        <select asp-for="GuitarBuild.String.StringId" asp-items="Model.StringOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.String" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="GuitarBuild.TopDeckMaterial">Top Deck Material:</label>
        <select asp-for="GuitarBuild.TopDeckMaterial.TypeId" asp-items="Model.TopDeckMaterialOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.TopDeckMaterial" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GuitarBuild.TuningMachine">Tuning Machine:</label>
        <select asp-for="GuitarBuild.TuningMachine.MachineId" asp-items="Model.TuningMachineOptions" class="form-control">
        </select>
        <span asp-validation-for="GuitarBuild.TuningMachine" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Build Guitar</button>
</form>