@page
@model GuitarWorkshopUI.Pages.GuitarParts.GuitarColor.GetAllModel

@{
    ViewData["Title"] = "Guitar Colors";
}

<h1>Guitar Colors</h1>

<p>
    <a asp-page="Create">Create New</a>  <!-- Optional: Link to a Create page -->
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model.GuitarColors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <div style="display:inline-flex">
                        <a asp-page="./Edit" asp-route-id="@item.ColorId" class="btn btn-sm">Edit</a>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@item.ColorId">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
