@page
@model GuitarWorkshopUI.Pages.GuitarParts.StringType.CreateModel
@{
    ViewData["Title"] = "Create String type";
}

<h1>Create String type</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StringType.StringName" class="control-label"></label>
                <input asp-for="StringType.StringName" class="form-control" />
                <span asp-validation-for="StringType.StringName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StringType.Price" class="control-label"></label>
                <input asp-for="StringType.Price" class="form-control" />
                <span asp-validation-for="StringType.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="GetAll">Back to List</a>
</div>

