@page
@model GuitarWorkshopUI.Pages.User.RegisterModel
@{
}
<form method="post">
    <input asp-for="UserDTO.Login" type="text" name="login" placeholder="Логин" />
    <input asp-for="UserDTO.Password" type="password" name="password" placeholder="Пароль" />
    <button type="submit">Зарегестрироваться</button>
</form>